* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.logoFigure {
  width: 100%;
  text-align: center;
  margin-bottom: 90px;
}
.App {
  width: 100%;
  height: 100vh;
  background-color: #c8f0ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  width: 920px;
  height: 480px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  padding: 32px 32px 32px 0;
}
.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 48px;
}
.right {
  background-color: #00474b;
  width: 50%;
  border-radius: 15px;
  padding: 65px 40px 40px 40px;
}
input {
  width: 100%;
  padding: 10px;
  color: #00474b;
  background-color: #f3f9fa;
  border: none;
  font-size: 21px;
  font-weight: bold;
  border-radius: 5px;
  text-align: right;
  outline: none;
}
.top input::placeholder,
.bottom input::placeholder {
  color: lightgray;
}
.middle input::placeholder {
  color: #00474b;
}
.dolar {
  width: 11px;
  height: 17px;
}
.person {
  width: 13px;
  height: 16px;
}
.top input {
  background: url("./images/dolar.png") no-repeat #f3f9fa 10px;
}
.bottom input {
  background: url("./images/person.svg") no-repeat #f3f9fa 10px;
}
.left p {
  font-family: "Space Mono";
  color: #5e7a7d;
  font-weight: 700;
  margin-bottom: 13px;
}
.left button {
  width: 105px;
  height: 45px;
  background-color: #00474b;
  color: white;
  font-family: "Space Mono";
  font-size: 22px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.middle input {
  width: 105px;
  height: 45px;
  background-color: #f3f9fa;
  color: #00474b;
  font-family: "Space Mono";
  font-size: 22px;
  font-weight: 700;
  padding-right: 15px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
/* ********************************** */
.tipAmountContent,
.valueSide {
  display: flex;
  justify-content: space-between;
}
.tipAmountContent2 {
  margin-top: 30px;
}
.textSide p {
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: "Space Mono";
}
.textSide span {
  font-size: 14px;
  color: #7f9d9f;
  font-weight: bold;
  font-family: "Space Mono";
}
.valueSide {
  align-items: center;
}
.valueSide img {
  width: 22px;
  height: 34px;
  color: #26c2ae;
}
.valueSide p {
  font-size: 44px;
  color: #26c2ae;
}
.right button {
  width: 100%;
  height: 50px;
  background-color: #0d686d;
  color: #00474b;
  border: none;
  border-radius: 5px;
  margin-top: 110px;
  font-size: 20px;
  font-family: "Space Mono";
  font-weight: bold;
  cursor: pointer;
}
.numberZero {
  display: flex;
  justify-content: space-between;
}
.numberZero p:nth-child(2) {
  color: #e17457;
  display: none;
}
/* *** Hovers ***/
input:hover {
  outline: 2px solid #26c2ae;
}
button:hover {
  background-color: #9fe8df;
  color: #00474b;
}
@media only screen and (max-width: 940px) {
  .App {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .logoFigure {
    margin: 50px 0;
  }
  .main {
    flex-direction: column;
    width: 375px;
    height: auto;
    padding: 32px;
    border-radius: 25px 25px 0 0;
  }
  .left {
    width: 100%;
    padding: 0;
  }
  .right {
    width: 100%;
    padding: 40px 20px 20px 20px;
  }
  .tipAmountContent2 {
    margin: 15px 0;
  }
  .right button {
    margin: 0;
  }
  .left button,
  .left .buttons input {
    width: 146px;
  }
  .top {
    margin-bottom: 30px;
  }
  .bottom {
    margin: 30px 0;
  }
}
